<div class="primary-menu-container">
    <div class="primary-menu-wrapper">
        <nav id="nav" class="primary-menu">
            <div class="secondary-menu">
                <ul>
                    <li class="secondary-menu-link">
                        <a href="#">Menu link</a>
                        <ul class="secondary-submenu">
                            <li><a href="/google">Menu link</a></li>
                            <li><a href="/verk">Menu link</a></li>
                            <li><a href="/test">Menu link</a></li>
                        </ul>
                    </li>
                    <li class="secondary-menu-link">
                        <a href="#">Menu link</a>
                        <ul class="secondary-submenu">
                            <li><a href="#">Menu link #1</a></li>
                            <li><a href="#">Menu link #1</a></li>
                            <li><a href="#">Menu link #1</a></li>
                        </ul>
                    </li>
                    <li class="secondary-menu-link">
                        <a href="#">Menu link</a>
                        <ul class="secondary-submenu">
                            <li><a href="#">Menu link #2</a></li>
                            <li><a href="#">Menu link #2</a></li>
                            <li><a href="#">Menu link #2</a></li>
                        </ul>
                    </li>
                    <li class="secondary-menu-link">
                        <a href="#">Menu link</a>
                        <ul class="secondary-submenu">
                            <li><a href="#">Menu link #3</a></li>
                            <li><a href="#">Menu link #3</a></li>
                            <li><a href="#">Menu link #3</a></li>
                        </ul>
                    </li>
                    <li class="secondary-menu-link">
                        <a href="#">Menu link</a>
                        <ul class="secondary-submenu">
                            <li><a href="#">Menu link #4</a></li>
                            <li><a href="#">Menu link #4</a></li>
                            <li><a href="#">Menu link #4</a></li>
                        </ul>
                    </li>
                    <li class="secondary-menu-link">
                        <a href="#">Menu link</a>

                    </li>
                    <li class="secondary-menu-link">
                        <a href="#">Menu link</a>
                        <ul class="secondary-submenu">
                            <li><a href="#">Menu link #6</a></li>
                            <li><a href="#">Menu link #6</a></li>
                            <li><a href="#">Menu link #6</a></li>
                        </ul>
                    </li>
                    <li class="secondary-menu-link">
                        <a href="#">Menu link</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>