<div class="primary-menu-container">
    <div class="primary-menu-wrapper">
        <nav id="block-mainnavigationwithentertainmentguide-2">
            <div class="secondary-menu">
                <ul>
                    <li>
                        <a href="#">Menu link</a>
                        <ul class="secondary-submenu">
                            <li><a href="#"></a>Menu link</li>
                            <li><a href="#"></a>Menu link</li>
                            <li><a href="#"></a>Menu link</li>
                        </ul>
                    </li>
                    <li><a href="#">Menu link</a></li>
                    <li><a href="#">Menu link</a></li>
                    <li><a href="#">Menu link</a></li>
                    <li><a href="#">Menu link</a></li>
                    <li><a href="#">Menu link</a></li>
                    <li><a href="#">Menu link</a></li>
                    <li><a href="#">Menu link</a></li>

                </ul>
            </div>
        </nav>
    </div>
</div>